<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <ul>
           <li> <a href="/about-us">About</a> </li>
            <li><a href="/gallery">Photo galery</a></li>
        </ul>
    </nav>
    <p>Tribute to Ryozo Tsujimoto, the producer of Monster Hunter World</p>
    <img id="Ryozo" src="https://as.com/meristation/imagenes/2019/01/14/reportajes/1547468335_916593_1547534934_noticia_normal.jpg" alt="Ryozo Tsujimoto image">
    
</body>
</html>